<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>Bexchange</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
  <meta name="format-detection" content="telephone=no">
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <!--<![endif]-->
  <style type="text/css">
    @media only screen and (min-width:481px) and (max-width:699px) {
      .em_main_table {
        width: 100% !important;
      }

      .em_wrapper {
        width: 100% !important;
      }

      .em_hide {
        display: none !important;
      }

      .em_img {
        width: 100% !important;
        height: auto !important;
      }

      .em_h20 {
        height: 20px !important;
      }

      .em_padd {
        padding: 20px 10px !important;
      }
    }

    @media screen and (max-width: 480px) {
      .em_main_table {
        width: 100% !important;
      }

      .em_wrapper {
        width: 100% !important;
      }

      .em_hide {
        display: none !important;
      }

      .em_img {
        width: 100% !important;
        height: auto !important;
      }

      .em_h20 {
        height: 20px !important;
      }

      .em_padd {
        padding: 20px 10px !important;
      }

      .em_text1 {
        font-size: 16px !important;
        line-height: 24px !important;
      }

      u+.em_body .em_full_wrap {
        width: 100% !important;
        width: 100vw !important;
      }
    }
  </style>
</head>

<body class="em_body" style="margin:0px; padding:0px;margin: 0 !important;padding: 0 !important;-webkit-text-size-adjust: 100% !important;
-ms-text-size-adjust: 100% !important;-webkit-font-smoothing: antialiased !important;" bgcolor="#efefef">
  <table style="border-collapse: collapse;" class="em_full_wrap" valign="top" width="100%" cellspacing="0"
    cellpadding="0" border="0" bgcolor="#efefef" align="center">
    <tbody>
      <tr>
        <td style="border-collapse: collapse;" valign="top" align="center">
          <table class="em_main_table" style="width:700px;" width="700" cellspacing="0" cellpadding="0" border="0"
            align="center">
            <!--Header section-->
            <tbody>
              <tr>
                <td
                  style="border-collapse: collapse;font-size: 6px;line-height: 10px;padding: 034px 0px 034px 0px;background-color: #375269;"
                  valign="top" bgcolor="#f6f7f8" align="center">
                  <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0"
                    align="center">
                    <tbody>
                      <tr>
                        <td
                          style="border-collapse: collapse;font-family:'Open Sans', Arial, sans-serif; font-size:12px; line-height:15px; color:#0d1121;"
                          valign="top" align="center"><img
                            style=" max-width: 100% !important; border: 0 !important;outline: none !important;"
                            border="0" src="https://www.b-cryptoexchange.com/assets/images/bExchange/logo.png" alt=""
                            width="300">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <!--//Header section-->
              <!--Banner section-->
              <tr>
                <td style="border-collapse: collapse;" valign="top" align="center">
                  <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0"
                    align="center">
                    <tbody>
                      <tr>
                          <td align="center" style="padding-top:1em;font-family:'Open Sans', Arial, sans-serif;font-size: 17px;">Main App server is unavailable. Please contact your support and describe your issue !!!</td>
                      </tr>
                      <tr>
                          <td align="center" style="padding-top:0.5em;padding: bottom 0.5em;font-family:'Open Sans', Arial, sans-serif;font-size: 14px;">Unexpected status code...</td>
                      </tr>
                      <tr>
                        <td valign="top" align="center"><img
                            style="border-collapse: collapse;float: left;max-width: 100% !important; border: 0 !important;outline: none !important;"
                            border="0"
                            src="http://dev.b-cryptoexchange.com/assets/images/bExchange/server_down_s4lk.png"
                            alt="" >
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding-top:1em;font-family:'Open Sans', Arial, sans-serif;font-size: 13px;">Description :: During server down time, all the incoming transaction is store in our database</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding-top:0.5em;padding-bottom:0.5em;font-family:'Open Sans', Arial, sans-serif;font-size: 15px;">To get all pending transaction, <a href="http://localhost:9001/api/v1/tron/pending/transaction">click here</a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <!--//Banner section-->
              <!--Footer Section-->
              <tr>
                <td style="border-collapse: collapse;padding:38px 30px;" class="em_padd" valign="top" bgcolor="#f6f7f8"
                  align="center">
                  <table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0"
                    align="center">
                    <tbody>
                      <tr>
                        <td
                          style="border-collapse: collapse;font-family:'Open Sans', Arial, sans-serif; font-size:11px; line-height:18px; color:#999999;"
                          valign="top" align="center"><a href="https://www.b-cryptoexchange.com/#/privacy-policy"
                            target="_blank"
                            style="border-collapse: collapse;color:#999999; text-decoration:underline;">Privacy
                            Policy</a> | <a href="https://www.b-cryptoexchange.com/#/terms-condition" target="_blank"
                            style="border-collapse: collapse;color:#999999; text-decoration:underline;">Terms Of
                            Service</a> | <a href="#" target="_blank"
                            style="border-collapse: collapse;color:#999999; text-decoration:underline;">RETURNS</a><br>
                          © 2019 B-Exchange. All Rights Reserved.<br>
                          If you do not wish to receive any further emails from us, please <a href="#" target="_blank"
                            style="border-collapse: collapse;text-decoration:none; color:#999999;">unsubscribe</a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>

